{% extends 'base.html' %}
{% block content %}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Delete SubTask</h4>
        <div class="card">
            <div class="card-body text-center">
                <h5 class="text-danger mb-4">Are you sure you want to delete "{{ object }}"?</h5>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Yes, Delete</button>
                    <a href="{% url 'subtask-list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}